{# templates/SaisieFrais/saisiefraisforfait.html.twig #}
{% extends "accueil.html.twig" %}
{% block body %}
    {% block bloc1 %}
        
        <div class ="erreur">
            <ul>
                {% if erreur != "" %}
                    {{ erreur }}
                {% endif %}

            </ul></div>
        <div id="contenu">
            <h2>Renseigner ma fiche de frais du mois {{ numMois }}-{{ numAnnee }}</h2>            
            {% if etat=='CL' %} 
                <h2>FICHE DE FRAIS CLOTURÉ</h2>
            {% endif %}
            <form method="POST"  action="{{path('app_frais_saisie_frais_validerMaj')}}">
                <div class="corpsForm">

                    <fieldset>
                        <legend>Eléments forfaitisés
                        </legend>
                        {% for unFrais  in lesfraisforfait  %} 
                            {% set idFrais = unFrais.idfrais %}
                            {% set libelle = unFrais.libelle %}
                            {% set quantite = unFrais.quantite %}



                            <p>
                                <label for="idFrais">{{ libelle }}</label>
                                <input type="text" id="idFrais" name ="lesFrais[{{ idFrais }}]" {% if etat=='CL' %} disabled  {% endif %} size="10" maxlength="5" value={{ quantite }} >
                            </p>
                        {% endfor %}

                    </fieldset>
                </div>
                {% if etat=='CR' %} 
                    <div class="piedForm">
                        <p>
                            <input id="ok" type="submit" value="Valider" size="20" />
                            <input id="annuler" type="reset" value="Effacer" size="20" />
                        </p> 
                    </div>
                {% endif %}

            </form>
        {% endblock %}
    {% endblock %}